
@{
    ViewData["Title"] = "Nobook";
}

<div>
<h2>The Author has no books to his name. Kindly insert few books or Delete the Author.</h2>
</div>

<table>
    
       <tr>
   

            <td>Link to Insert books </td>
    
        <td>
            @Html.ActionLink("Click","Index","AuthorController")
        </td>
    </tr>
    <tr>
    
        <td>Link to Delete Author </td>
        
        <td>
            @Html.ActionLink("Click","Index","AuthorController")
        </td>
    </tr>
   
    


</table>





