
@{
    ViewData["Title"] = "BookAvailable";
}



<div>
    <h2>The Author has Few books to his name. So the Author cant be Deleted.</h2>
</div>

<table>

    <tr>
        <td>Link to Author Index </td>

        <td>
            @Html.ActionLink("Click","Index","AuthorController")
        </td>
    </tr>
    <tr>

        <td>Link to Delete Book </td>

        <td>
            @Html.ActionLink("Click","Index","BookController")
        </td>
    </tr>




</table>

