@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Presentation</h1>
</div>
<div>
    <p>  @Html.ActionLink("Click to View Author List","Index","AuthorController")</p>
        
</div>

<div>
    <p>@Html.ActionLink("Click to View Book List","Index","BookController") </p>
</div>


